<div class="card shadow">
  <p class="h4 card-header">Import Excel Data</p>
  <div class="card-body bg-light">

      <p class="card-text">Select File to be uploaded:&nbsp;</p>
      <div class="input-group mb-3">
          <div class="custom-file">
              <input type="file" class="custom-file-input" id="fileBrowse" (change)="selectFile($event)">
              <label class="custom-file-label" for="fileBrowse">Choose file</label>
          </div>
          <div class="input-group-append">
              <label class="input-group-text" id="inputGroupFileAddon" (click)="upload()">Upload</label>
          </div>
      </div>

      <p><a href="http://localhost:8082/stock.xlsx">Click here </a> for sample stock.xlsx file. Strictly adhere to sample file format.</p>

  </div>
</div>


