<header class="shadow">
  <nav class="navbar navbar-expand-xl navbar-light " style="background-color:#e0e0e041">
      <div class="container">
          <a class="navbar-brand" href="#">
              <h1 class="tm-site-title mb-0" >Stock Market Charting</h1>
          </a>
      </div>
  </nav>
</header>

<section class="container">
  <div class="row m-4">
      <div class="col" style="height: 70vh;">
          <form class="pt-4" (ngSubmit)="onSubmit()">
              <div class="card shadow">
                  <p class="h4 card-header">User Sign-Up Form</p>
                  <div class="card-body bg-light">
                      <form (ngSubmit)="onSubmit()">

                          <div class="input-group mt-3 mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Username</span>
                              </div>
                              <input [(ngModel)]="username" name="username" type="text" class="form-control" />
                          </div>

                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Password</span>
                              </div>
                              <input [(ngModel)]="password" name="password" type="password" class="form-control" />
                          </div>

                          <div class="input-group">
                              <input [(ngModel)]="rPassword" name="rPassword" type="password" class="form-control"
                                  placeholder="Re-enter Password" />
                          </div>
                          <small *ngIf="password!==rPassword" class="text-danger">Passwords do not match</small>

                          <div class="input-group mt-3 mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Email</span>
                              </div>
                              <input [(ngModel)]="email" name="email" type="text" class="form-control" />
                          </div>

                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Mobile</span>
                              </div>
                              <input [(ngModel)]="mobile" name="mobile" type="text" class="form-control" />
                          </div>
                          <div class="d-flex no-gutters">
                              <div class="col">
                                  <button type="submit" class="btn btn-success">Submit</button>
                                  <button type="reset" class="btn btn-danger ml-2">Reset</button>
                              </div>
                              <div>
                                  <button routerLink="/sign-in" type="button" class="btn btn-secondary">Back to Sign-in</button>
                              </div>
                          </div>
                      </form>

                  </div>
              </div>
          </form>
      </div>
  </div>
</section>